<footer class="footer bg-amber-600 h-64 flex justify-between items-center p-8">
  <div class="logo-container">
    <img alt="Image" class="logo" src="../../../assets/narutoShippuden.png">
  </div>
  <div class="links-container">
    <button class="footer-button">Quem somos</button>
    <button class="footer-button">Planos</button>
    <button class="footer-button">Dúvidas</button>
  </div>
  <div class="contact-container flex flex-col items-end">
    <button mat-fab class="contact-button">
      <mat-icon>email</mat-icon>
    </button>
    <button mat-fab class="contact-button">
      <mat-icon>chat</mat-icon>
    </button>
    <button mat-fab class="contact-button">
      <mat-icon>phone</mat-icon>
    </button>
  </div>
</footer>
